*{
    margin:0;
    box-sizing: border-box;
    max-width: 100%;

}

nav{
    display: flex;
    flex-direction: column;
}
h1, h2{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #03045e;
    text-align: center;
    box-shadow: grey 4px 4px 2px 2px;
    padding: 15px;
    margin-bottom: 15px;
}
h1{
    background-color:#f0f0f0; ;
}
p{
    font-family: 'Gowun Batang', Arial, Helvetica, sans-serif;
}

section{
    grid-template-columns: 1fr;
    border: solid black 1px;
    margin: 10px 25px;
    border-radius: 5px;
    box-shadow: grey 4px 4px 2px 2px;
    background-color: #fdf0d5;
    margin-bottom: 35px;
    max-width: 100%;
    text-align: center;

}
nav{
    margin:5px 15px;    
}

nav button {
    font-size: 14px;
    font-family: 'Gowun Batang', Arial, Helvetica, sans-serif;  
    color:#ffff;
    background-color:grey;
    padding: 15px;
    margin-bottom: 5px;
    cursor: pointer;
    
}
nav button.active {
    background-color: #03045e;
}

footer{
    background-color: #fdf0d5;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:#03045e;
    margin-top: 35px;
}
