@media screen and (max-width:740px) {

    header nav{
        display: grid;
        grid-template-columns:auto;
        padding: 50px 0;
        position: relative;

    }

    #logo{
        position:absolute;
        top:20px;
        left: 5px;
        max-width: 110px;
        max-height: 90px;
        z-index: 5;
    }
    #web-title{
        align-items: center;
        margin-left: 100px;
    }
        
        
    
    #nav-links{
        display: flex;
        flex-direction:column;
        max-height: 0;
        transition: max-height 0.8s ease-in-out;
        margin-right:10px;
        overflow: hidden;

    }
   
    
   
    #nav-links.open {
        margin-top: 15px;
        max-height: 1500px;
        

    }
    #nav-links a{
        font-size: 15px;
        width: 100%;
        padding: 5px;
        text-align:center;    
        
    }

    #menu::before{
        content:"\2630";
    }

    #menu{
        position: absolute;
        display:block;
        top:15px;
        right:10px;
        font-size: 2rem;
        background-color: transparent;
        border: none;
        text-align: right;
        margin-right: 5px;
        color: White;
        cursor:pointer;
    }

    #menu.open::before{
        content: "\00d7";
        font-size: 2rem;
        
    }

    #nairobi{
        opacity: 1;
    }

    #register{
        position:relative;
        font-size: smaller;
        margin-top: 20px;
    }

    #welcome{
        position: relative;
        font-size: smaller;
        margin: 20px 20px;
        
    }
    
    #read-more{
        font-size: smaller;
        line-height: 2rem;
        margin-top: -30px;
    }

    
    
    #area1{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .dash{
        width: 100%;
        font-size:smaller;
        
    }
    
    
    /*directory page*/
    #cards{
        display:flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    #cards section{
        max-width: 100%;
        font-size: 1em;
        display:block ;
    }
    #cards.list-view section {
        display:flex;
        flex-direction:column;
        line-height: 5px;
       
    }
    

    footer{
        display: block;
    
    }

    footer div{
        margin: 10px 0;
        padding: 10px 0;
    }

    .join{
        display:block;
       
    }

    .about{
        margin: 20px auto;
    }

    .join .pics{
        margin-top: 80px;
        max-width: 80%;
    }

    
    

}