@media screen and (max-width:740px) {

    header nav{
        display: grid;
        grid-template-columns:auto;
        padding: 50px 0;

    }

    #logo{
        position:absolute;
        top:80px;
        left: 15px;
        display: block;
        max-width: 110px;
        max-height: 90px;
    }

    #web-title{
        font-size: 20px;
        margin-left: 120px;
    }
    #nav-links{
        display: flex;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
        margin-right:10px;

    }
   
    
   
    #nav-links.open {
        margin-top: 15px;
        max-height: 1500px;

    }
    #nav-links a{
        width: 100%;
        padding: 10px;
        text-align: end;
        border-bottom: 0.5px solid white;
        
    }

    #menu::before{
        content:"\2630";
    }

    #menu{
        position: absolute;
        display:block;
        top:15px;
        right:10px;
        font-size: 2rem;
        background-color: transparent;
        border: none;
        text-align: right;
        margin-right: 5px;
        color: White;
        cursor:pointer;
    }

    #menu.open::before{
        content: "❎";
        font-size: 2rem;
        
    }

    

    #register{
        position:relative;
        font-size: smaller;
        margin-top: 20px;
    }
    
    
    #area1{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .dash{
        width: 100%;
        text-align: center;
    }

    .dash ul{
        font-size: 12px;
    }

    #cards{
        display:flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    #cards section{
        max-width: 100%;
        font-size: 1em;
        display:block ;
    }
    #cards.list-view section {
        display:flex;
        flex-direction:column;
        line-height: 5px;
       
    }
    

    footer{
        display: block;
    
    }

    footer div{
        margin: 10px 0;
        padding: 10px 0;
    }

    

}